* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #254e73;
  background-color: #000000;
  font-family: sans-serif;
}

.top {
  font-size: 36px;
  font-weight: bold;
  color: #89CFF0;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #254E73;
  font-family: sans-serif;
  width: 100%;
}

li {
  list-style: none;
}

.experience {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #254E73;
  border-radius: 15px;
  color: #89CFF0;
  justify-content: center;
  padding: 5px;
}

.description {
  border: 1px solid #000;
  width: 300px;
  height: 300px;
}

.contact {
  text-align: center;
  background-color: #254E73;
  color: #89CFF0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 100%;
}
.contact li {
  list-style: none;
  display: inline-block;
  padding: 10px 50px 50px 10px;
  margin-top: 10px;
}
.contact a {
  color: #89CFF0;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #89CFF0;
  border-radius: 5px;
}
.contact a:hover {
  color: #254e73;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #89CFF0;
  border-radius: 5px;
  background-color: #89CFF0;
}

.button {
  color: #FFF;
  background-color: #254E73;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}


@media only screen and (max-width: 900px) {
  .experiences {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 400px;
    flex-wrap: wrap;

  }

  .experience {
    width: 33%;
    display: flex;
    justify-content: center;
    background: #254E73;
    border-radius: 15px;
    color: #89CFF0;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .description {
    border: 1px solid #000;
    width: 300px;
    height: 300px;
  }
}

.experiences {
  display: flex;
  justify-content: space-between;
}
/*  background-color: #00d2be;*/

/*
body {
  color: #254e73;
  background-color: #000000;
  font-family: sans-serif;
}




ul {
  list-style-type: disc;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9f00ff;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #00D2BE;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: bold;
}

nav li a:hover:not(.active) {
  background-color: #c0c0c0;
  color: #254e73;
  padding: 15px 40px 15px 40px;
}

.active {
  background-color: #04AA6D;
}


div {
  padding: 10px;
}


*/
/*
med blue 5995DA
light blue 89CFF0
Dark Blue 254E73
Silver C0C0C0
Green 00D2BE
*/
